/* for flex layout */
.slotitems .flex-row
{
    display: flex;

    flex-flow: row nowrap;
}
.slotitems .flex-column
{
    display: flex;

    flex-flow: column nowrap;
}
.slotitems .flex-wrap
{
    flex-wrap: wrap;
}
