.tooltip-container {
    position: relative;
    display: inline;
    text-align: left;
    vertical-align: bottom;
    flex: 1;
}

.tooltip-container .item-improvment {
    margin-left: 5px;
    flex: none;
}

.tooltip-container span.show {
    display: inline !important;
    flex: none;
}

.slotitems .slotitem-container {
    flex: none;
    height: 20px;
}

.slotitems-unit {
    position: relative;
    display: inline;
    vertical-align: bottom;
}

.slotitems .slotitem-unit .slotitem-onslot {
    font-size: 9px;
    position: absolute;
    top: -9px;
    left: -1px;
    padding: 2px 2px;
    border-radius: 4px;
}

.slotitems .slotitem-unit span.show {
    display: inline !important;
}

.slotitems .slotitem-unit img {
    width: 20px;
    height: 20px;
}
